@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    scroll-snap-type: y mandatory
}

body {
    margin: 0;
    background-color: var(--black);
    overscroll-behavior-y: none;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --gray: #b3b3b3;
    --black:  #020307;
}
